{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-3 mb-5">
        <div class="card-body ">
            <h2 class="text-center">
                Update Password
            </h2>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
            <form method="post" >
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-primary w-100">
                Update
            </button>
            </form>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
